.wrapper {
    margin: auto;
    width: 60%;
    height: 50px;
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
  }
  .login-btn {
    margin-top: 50px;
    background-color: #ea4c89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
      sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .login-btn:hover,
  .login-btn:focus {
    background-color: #f082ac;
  }
  